.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.ico
*.tiff
*.psd
*.ai
*.eps
*.pt
output_*/
SimpleClick/
Matting-Anything-2/
data_LiWanQiang1125/
ttttt.sh